        /* Home page */
        .navbar {
            background-color: #00000082;
        }

        .navbar-nav li {
            margin-right: 10px;
        }

        .navbar-nav li a {
            color: #fff !important;
            font-weight: 600;
            font-size: 20px;
        }

        /* .navbar-toggler:hover {
            text-decoration: none;
      
        } */

        /* mobile css navbar */

        .moblogo {
            display: none;
        }


        @media (max-width: 768px) {
            .weblogo {
                display: none;
            }

            .moblogo {
                display: block;

            }

            .navbar {
                background: #fbac1b !important;
            }

        }

        /* navbar end */


        /* Home page */
        .img12 {
            width: 100%;
        }

        .a {
            text-align: center;
            padding-top: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .b {
            line-height: 35px;
            letter-spacing: 1px;
            word-spacing: 1px;
            padding-right: 5px;
            text-align: justify;
        }

        .media,
        .experience {
            height: 500px;
            background-image: url(../image/bg.jpg);
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .h,
        .exp {
            line-height: 35px;
            letter-spacing: 1px;
            word-spacing: 1px;
            padding-right: 5px;
        }

        .media-text,
        .experience-text {
            line-height: 40px;
            letter-spacing: 1px;
            word-spacing: 1px;
            padding-right: 5px;
            margin-top: 10px;
            text-align: center;
        }


        .experience {
            height: 500px;
            background-image: url(../image/ffback2.png);
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .contact-h {
            padding-top: 20px;
            text-transform: uppercase;
            font-family: 'prague';

        }


        /* About page */

        .about {
            background-image: url(../image/aboutimg.jpg);
            width: 100%;
            height: 650px;
            background-position: center;
            background-size: cover;

        }

        .head-text,
        .fiddle-text {
            text-align: center;
            padding-top: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 1cm;
        }

        .pera,
        .fiddle-subtext {
            line-height: 35px;
            letter-spacing: 1px;
            word-spacing: 1px;
            padding-right: 5px;
            text-align: justify;
        }

        .game {

            height: 400px;
            background-image: url(../image/gamebanner.jpg);
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .game-text {
            line-height: 40px;
            letter-spacing: 1px;
            word-spacing: 1px;
            padding-right: 5px;
            margin-top: 10px;
            text-align: center;
        }

        .family-pera {
            line-height: 40px;
            letter-spacing: 1px;
            word-spacing: 1px;

        }


        /* Brand */

        .brand {
            background-image: url(../image/brands.jpg);
            width: 100%;
            height: 630px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            text-transform: uppercase;
            font-family: prague;
        }


        /* our Team */

        .team {
            background-image: url(../image/team.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 630px;

        }

        .team-pera {
            word-spacing: 1px;
            line-height: 25px;
            letter-spacing: 1px;
            padding-left: 5px;
            text-align: justify;

        }

        .YPAshok {
            background-image: url(../image/YPAshok.jpg);
            width: 100%;
            height: 8.8cm;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .BR {
            background-image: url(../image/B.R.-Sachdeva.jpg);
            width: 100%;
            height: 8.8cm;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .sagar {

            background-image: url(../image/Sagar-Bajaj.jpg);
            width: 100%;
            height: 8.8cm;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .jay {
            background-image: url(../image/JAY-PHOTO-1-1.jpg);
            width: 100%;
            height: 8.8cm;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .vi {
            background-image: url(../image/vibhutiPR.jpg);
            width: 100%;
            height: 8.8cm;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        /* Press Release */

        .press {
            background-image: url(../image/press-new-1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 630px;


        }

        .press-pera {
            word-spacing: 1px;
            line-height: 25px;
            letter-spacing: 1px;
            padding-left: 5px;
            text-align: center;

        }



        /* CONTACT US */
        .contact {
            background-image: url(../image/CONTACT-US.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
        }



        /* Careers */

        .careers {
            background-image: url(../image/ca.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
        }

        .careers-pera {
            word-spacing: 2px;
            line-height: 25px;
            letter-spacing: 1px;
            font-size: 18px;
            font-weight: lighter;
        }